@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    transition: all 0.35s linear;
}

section{
    display: grid;
    place-content: center;
    min-height: 100vh;
    background-color: #d3f3ff;
}